absl-py==0.1.12
altgraph==0.10.2
amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
appnope==0.1.0
astor==0.6.2
astroid==1.6.5
autopep8==1.3.5
backports-abc==0.4
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
bdist-mpkg==0.5.0
billiard==3.3.0.23
bleach==1.5.0
bonjour-py==0.3
catkin-pkg==0.2.10
celery==3.1.18
certifi==2016.2.28
click==6.7
colorama==0.3.9
configparser==3.5.0
dask==0.9.0
decorator==4.0.10
Django==1.10a1
django-tokenapi==1.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
docutils==0.12
easydict==1.7
empy==3.3.2
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
gevent==1.2.2
glob2==0.4.1
greenlet==0.4.12
grequests==0.3.0
grpcio==1.10.0
html5lib==0.9999999
ipython==5.5.0
ipython-genutils==0.1.0
isort==4.3.4
joblib==0.11
kaptan==0.5.9
kombu==3.0.37
lazy-object-proxy==1.3.1
libtmux==0.7.7
macholib==1.5.1
magickwand==0.2
Markdown==2.6.11
matplotlib==1.3.1
mccabe==0.6.1
mock==2.0.0
modulegraph==0.10.4
networkx==1.11
nose==1.3.7
numpy==1.14.2
opencv-contrib-python==3.4.0.12
opencv-python==3.4.0.12
packaging==16.8
pathlib2==2.2.0
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.2.0
prompt-toolkit==1.0.7
protobuf==3.5.2.post1
ptyprocess==0.5.1
py2app==0.7.3
pycodestyle==2.4.0
pycurl==7.43.0
Pygments==2.1.3
PyJWT==1.6.4
pylint==1.9.2
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.2.0
python-dateutil==1.5
pytz==2013.7
PyYAML==3.11
requests==2.10.0
rosdep==0.11.5
rosdistro==0.4.7
rosinstall==0.7.8
rosinstall-generator==0.1.12
rospkg==1.0.39
scandir==1.4
scikit-image==0.12.3
scipy==0.13.0b1
selectivesearch==0.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
tensorboard==1.6.0
tensorflow==1.6.0
termcolor==1.1.0
Theano==0.7.0
tmuxp==1.3.5
toolz==0.8.0
torch==0.4.0
torchvision==0.2.1
tornado==4.3
traitlets==4.2.2
urlgrabber==3.9.1
vboxapi==1.0
vcstools==0.1.39
virtualenv==14.0.6
Wand==0.4.4
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
wstool==0.1.13
xattr==0.6.4
xlrd==1.1.0
XlsxWriter==1.0.5
yapf==0.22.0
zope.interface==4.1.1
