{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Sieves Vision</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<script>
			var STATIC_URL = "{% static '' %}"
		</script>

		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>

	
		<link href="{% static 'css/skel.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/style-wide.css' %}" rel="stylesheet">
		<link href="{% static 'css/style-noscript.css' %}" rel="stylesheet">

		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Sabesan Sivapalan (Sieves)</h1>
						<p>AI for fun &nbsp;&bull;&nbsp;  &nbsp;&bull;&nbsp;</p>
						<nav>
							<ul>
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; sievesvision 2018.</span>
					</footer>
			</div>
		</div>
	</body>
</html>