body {
  font-size: 16px;
  padding-top: 0px;
  font-family: Muli, sans-serif; }
  body a {
    font-family: Dosis, sans-serif;
    text-decoration: none;
    cursor: pointer; }
  body a:hover {
    text-decoration: none; }

a {
  cursor: pointer;
  text-decoration: none; }

.container {
  width: 90%; }

.topmenu.right {
  float: right; }

.topmenu li a:hover:not(.active) {
  border-top: 2px solid #ec971f;
  background: white; }

.topmenu .active {
  border-top: 5px solid #31b0d5; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important; }

.navbar {
  margin-bottom: 0px;
  background: white;
  -webkit-transition-duration: 2s;
  /* Safari */
  transition-duration: 2s; }

.affix ~ .container-fluid {
  position: relative;
  top: 50px;
  box-shadow: 0 0 5px #EDEDED; }

.top-header {
  position: relative; }
  .top-header .landing-image {
    width: 100%;
    height: 100px;
    text-align: center;
    background: #fafbf7; }
    .top-header .landing-image img {
      height: 100%;
      width: auto; }
  .top-header .left-logo {
    position: absolute;
    height: 100px;
    left: 20px;
    top: 0px;
    object-fit: contain; }
  .top-header .right-logo {
    position: absolute;
    height: 100px;
    right: 20px;
    top: 0px;
    object-fit: contain; }

.nav-main {
  background: #dae5e8; }
  .nav-main ul li a {
    padding: 5px 15px; }

.sidenav {
  height: auto;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 0;
  background-color: #f8f9f7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  width: 0px;
  text-align: right;
  padding-right: 0px;
  transition: .5s; }

.sidenav.active {
  width: 200px;
  transition: .5s; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #313030;
  display: block;
  border-bottom: 1px solid #dddedb; }

.sidenav a:hover {
  color: #0f618c; }

.sidenav .closebtn {
  position: absolute;
  top: -25px;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  border-bottom: 0px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

.dashboard-span {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: 10px;
  color: #0f618c; }
  .dashboard-span span {
    font-size: 14px; }

.footer {
  padding-top: 50%; }

.export_form {
  background-color: #f2f2f2;
  width: 40%;
  margin-top: 40px;
  margin-left: 30%;
  padding: 20px;
  padding-top: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  /* Clear floats after the columns */ }
  .export_form .disabled a {
    color: red;
    pointer-events: none; }
  .export_form h4 {
    margin-bottom: 30px; }
  .export_form .label {
    border-radius: 0px;
    display: inline-block;
    width: 100%;
    margin: 0px;
    margin-right: 5px;
    text-align: right;
    color: black;
    font-size: 14px;
    line-height: 18px;
    height: 25px; }
  .export_form .col-40 {
    float: left;
    width: calc(40% - 10px);
    margin-top: 6px;
    margin-left: 10px; }
  .export_form .col-60 {
    float: left;
    width: calc(60% - 10px);
    margin-top: 6px;
    margin-right: 10px; }
    .export_form .col-60 button {
      width: 100%; }
      .export_form .col-60 button span.selected {
        width: 100%;
        float: left;
        text-align: left; }
  .export_form .download-btn {
    text-align: right;
    padding-right: 10px; }
  @media screen and (max-width: 800px) {
    .export_form {
      width: 70%;
      margin-top: 40px;
      margin-left: 15%;
      padding: 30px; }
      .export_form .col-40, .export_form .col-60 {
        width: 100%;
        margin-top: 0;
        margin-left: 0px;
        margin-right: 0px; }
        .export_form .col-40 .label, .export_form .col-60 .label {
          text-align: left; }
      .export_form .download-btn {
        width: 100%;
        padding-right: 0px; }
        .export_form .download-btn a {
          width: 100%; } }
  .export_form .row {
    margin-bottom: 20px;
    margin-top: 10px; }
  .export_form .row:after {
    content: "";
    display: table;
    clear: both; }
  .export_form a {
    width: 120px;
    text-align: centre; }
    .export_form a.loading {
      text-align: left;
      cursor: crosshair;
      pointer-events: none;
      color: black;
      background-color: #68c0e2;
      position: relative; }
      .export_form a.loading::after {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        background: transparent url(/static/assets/loading_bluedots.gif) no-repeat;
        position: absolute;
        right: -0px;
        top: 0px;
        background-size: contain; }

.main-content {
  width: 90%;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px 20px 20px 20px; }
  .main-content h4 {
    font-weight: bolder; }

.base-main {
  margin-top: 10px; }

.login {
  margin: 8% auto 0;
  max-width: 500px; }

.box-header {
  background: none repeat scroll 0 0 #12407F;
  border: 1px solid #0669AF;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #014B80;
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  line-height: 36px;
  margin: 0;
  padding: 0 0 0 10px;
  text-shadow: 0 1px 0 #FFFFFF;
  text-transform: capitalize; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 3px; }

input[type=submit] {
  width: 120px;
  height: 50px;
  text-align: center;
  margin-left: calc(50% - 60px);
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: deepskyblue;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  background: #1584a9; }

.login-form {
  margin-top: 20%; }
  .login-form .input {
    caret-color: #fffffff0;
    color: #fffffff0;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 0.5px solid #fffffff0;
    margin-left: 12px;
    width: 90%;
    padding-bottom: 8px; }
    .login-form .input:focus {
      border-bottom: 0.5px solid #fff; }
