.export_form {
  background: #fff;
  width: 50%;
  margin-top: 40px;
  margin-left: 25%;
  padding: 20px;
  padding-top: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  display: inline-block; }
  .export_form h4 {
    margin-bottom: 30px; }
  .export_form .label {
    border-radius: 0px;
    display: inline-block;
    width: 100%;
    margin: 0px;
    margin-right: 5px;
    text-align: right;
    color: black;
    font-size: 14px;
    line-height: 18px;
    height: 25px;
    border: 1px solid rgba(11, 89, 156, 0.1);
    border-left: 2px solid #1587a9; }
  .export_form button {
    border-radius: 0px;
    height: 25px;
    line-height: 14px;
    font-size: 14px; }
  .export_form .row {
    margin-bottom: 20px;
    margin-top: 10px; }
  .export_form a {
    width: 120px;
    text-align: left; }
    .export_form a.loading {
      cursor: crosshair;
      pointer-events: none;
      color: black;
      background-color: #68c0e2;
      position: relative; }
      .export_form a.loading::after {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        background: transparent url(/static/assets/loading_bluedots.gif) no-repeat;
        position: absolute;
        right: -0px;
        top: 0px;
        background-size: contain; }
      .export_form a.loading::before {
        content: ".. processing data";
        position: absolute;
        color: black;
        left: 125px;
        top: 0px;
        height: 100%;
        line-height: 200%; }
