{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <META HTTP-EQUIV="EXPIRES" CONTENT="Tue, 13 Jun 2017 02:20:00 GMT">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Australian Tamil Competition</title>
    
    <!-- cdns -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Muli" rel="stylesheet">

    <!-- static js -->
    <script src="{% static 'js/downloaded_scripts/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/downloaded_scripts/jquery.floatingscroll.min.js' %}"></script>
    <script src="{% static 'js/downloaded_scripts/dropzone.js' %}"></script>
    <script src="{% static 'js/downloaded_scripts/jquery.popupoverlay.js' %}"></script>

    <link href="{% static 'css/downloaded_scripts/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/heroic-features.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/jquery.dataTables.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/downloaded_scripts/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'css/downloaded_scripts/jquery.floatingscroll.css' %}" rel="stylesheet">

    <link href="{% static 'css/app.css' %}?ver=1.3" rel="stylesheet">
    <script src="{% static 'js/app.js' %}?ver=1.0"></script>
    <script src="{% static 'js/login_utils.js' %}?ver=1.0"></script>
    <!-- <script src="{% static 'js/unicode_to_bamini.js' %}"></script> -->

    <script>
        var STATIC_URL = "{% static '' %}"
    </script>
    {% block head_content %}
    {% endblock %}

</head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="50">

      <!--Navigation 
    <nav class="navbar navbar navbar-fixed-top" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="topmenu right">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
        </div>
    </nav>-->
    <div class="container-fluid top-header" style="padding: 0px">
        <a href="/asogt"><img class='left-logo' src="{%static 'assets/logo_left.png'%}"></a>
        <div class="landing-image">
            <img src="{%static 'assets/landing_top_crop.png'%}"></a>
        </div>
        <a href="/asogt"><img class='right-logo' src="{%static 'assets/logo_right.png'%}"></a>
    </div>
    <nav class="navbar topmenu navbar-light" role="navigation" data-spy="affix" data-offset-top="97">
        <div class="container-fluid nav-main">
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Info-pack</a></li>
                    <li><a href="#">Coordinators</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li>
                            <a id="a-login" onclick="alternate_login()">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="base-main" class="container base-main">
        <!--popup login-->
        <div id='popup-login' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div id="header-login"></div>
            <div class="modal-dialog">
                <div class="modal-content login">
                    <h2 class="box-header no-border">ASOGT Login</h2>
                    <div class="modal-body">
                        <div id="loginError"></div>
                        <form id="loginForm" action="#">
                            {% csrf_token %}
                            <label for="username">Username:</label><br>
                            <input type="text" name="username" id="username"><br>
                            <label for="password">Password:</label><br>
                            <input type="password" name="password" id="password"><br>
                            <input id="login_submit" type="submit"  onclick="authenticate_user()" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="login">
            <div id="header-login"></div>
            <div id="content">
                <div class="box themed_box">
                    <h2 class="box-header no-border">Login</h2>
                    <div class="box-content">
                        <form action="admin/login/run" method="post">
                            <img src="http://www.tamilcompetition.org.au/public/images/admin/login.jpg" alt="login">
                            <label>Login</label><input type="text" name="login">
                            <label>Password</label><input type="password" name="password">
                            <input type="submit" value="login" class="button white">
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>
                    Copyright&nbsp;©&nbsp;2018&nbsp;<a href="http://www.tamilcompetition.org.au/contact" target="_blank">
                        Tamil competitions -  Australian Society of Graduate Tamils</a>.<a href="http://www.tamilcompetition.org.au/" target="_blank"><img src="http://www.tamilcompetition.org.au/public/images/vishaana.png" alt="Vishaana" title="Vishaana">
                        Powered&nbsp;by&nbsp;Vishaana</a>.
                </p>
            </div>
        </div> -->
        {% block page_content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; ASOGT 2016</p>
            </div>
        </div>
    </footer>

</body>

</html>
