{% extends 'base.html' %}
{% load staticfiles %}
{% block head_content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    function openNav() {
      $("#mySidenav").addClass('active');
    }
    function closeNav() {
      $("#mySidenav").removeClass('active');
    }
    function export_excel(){
        $(".students").hide();
        $("#export_excel").show();
        closeNav();
        $("#dashboar_span").html(" Students > Export");
    }
    function studentlist2017(){
        $(".students").hide();
        $("#studentlist2017").show();
        closeNav() 
        $("#dashboar_span").html(" Students > 2017");
    }
    function studentlist2018(){
        $(".students").hide();
        $("#studentlist2018").show();
        closeNav() 
        $("#dashboar_span").html(" Students > 2018");
    }

    //hide it when clicking anywhere else except the popup and the trigger
    $(document).on('click touch', function(event) {
    if (!$(event.target).parents().addBack().is('#mySidenav') && !$(event.target).parents().addBack().is('#dash_board_icon')) {
        $("#mySidenav").removeClass('active');
    }
    });

    $(document).ready(function() {
        export_excel()
    });

</script>
{% endblock %}

{% block page_content %}
<div id="dash_board_icon" class="dashboard-span" onclick="openNav()">&#9776;  <span id="dashboar_span"></span></div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a onClick='export_excel()'>Export to Excel</a>
    <a onClick='studentlist2018()'>Student List 2018</a>
    <a onclick='studentlist2017()'>Student List 2017</a>
</div>

<div class='main-content'>
    <div id="export_excel" class ="students" style="display: none">
        <h4>TC List Workbook 2018</h4>
            <ul class="excel-ul">
                <li>
                    <a data-state="NSW" class="btn btn-primary" onclick="get_per_exam_details(this)">Per-exam student details-NSW</a>
                </li>
                <li>
                    <a data-state="QLD" class="btn btn-primary" onclick="get_per_exam_details(this)">Per-exam student details-QLD</a>
                </li>
                <li>
                    <a data-state="NSW" class="btn btn-primary" onclick="get_resuls_for_certificate(this)">Results for certificate-NSW</a>
                </li>
                <li>
                    <a data-state="QLD" class="btn btn-primary" onclick="get_resuls_for_certificate(this)">Results for certificate-QLD</a>
                </li>
                <li>
                    <a data-state="NSW" class="btn btn-primary disabled" onclick="get_resuls_for_trophy(this)">Results for trophy-NSW</a>
                </li>
                <li>
                    <a data-state="QLD" class="btn btn-primary disabled" onclick="get_resuls_for_trophy(this)">Results for trophy-QLD</a>
                </li>

            </ul>
    </div>

    <div id="studentlist2018" class ="students" style="display: none">
            <h4>Student List 2018</h4>
    </div>

    <div id="studentlist2017" class ="students" style="display: none">
            <h4>Student List 2017</h4>
    </div>
</div>



{% endblock %}