body {
  font-size: 16px;
  padding-top: 0px;
  font-family: Muli, sans-serif; }
  body a {
    font-family: Dosis, sans-serif;
    text-decoration: none;
    cursor: pointer; }
  body a:hover {
    text-decoration: none; }

a {
  cursor: pointer;
  text-decoration: none; }

.container {
  width: 90%; }

.topmenu.right {
  float: right; }

.topmenu li a:hover:not(.active) {
  border-top: 2px solid #ec971f;
  background: white; }

.topmenu .active {
  border-top: 5px solid #31b0d5; }

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important; }

.navbar {
  margin-bottom: 0px;
  background: white;
  -webkit-transition-duration: 2s;
  /* Safari */
  transition-duration: 2s; }

.affix ~ .container-fluid {
  position: relative;
  top: 50px;
  box-shadow: 0 0 5px #EDEDED; }

.landing-image {
  width: 100%;
  height: 100px;
  text-align: center;
  background: #d3e792; }
  .landing-image img {
    height: 100%;
    width: auto; }
