

/* multi step progress bar */
/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
/* 	background: 
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); */
  background-color: #efefef;
}


body {
  background-color: #efefef;
	font-family: montserrat, arial, verdana;
}
h1{
  text-align: center;
}
/*form styles*/
#msform {
	width: 90%;
	margin: 50px auto;
	text-align: center;
  position: relative;
  z-index: 0;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	/* width: 80%;
	margin: 0 10%; */
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 0px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform select{
  width: auto; 
  border: none;
  height: 40px;
  background: transparent;
  padding: 15px;
  font-family: montserrat;
	color: #2C3E50;
  font-size: 13px;
  margin: 0px;
}
.select-wrapper{
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: calc(100% - 60px);
	border-radius: 3px;
	margin-bottom: 0px;
	box-sizing: border-box;
}
/*buttons*/
#msform .action-button {
	width: 120px;
  background: #1d586f;
  
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	/* font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px; */
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #103463;
	text-transform: uppercase;
  font-size: 11px;
  font-weight: 900;
	width: 33.333%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
  margin: 0 auto 5px auto;
  z-index: 1; /*put it behind the numbers*/
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
#progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.form-label{
  text-align: left;
  margin: 10px 0px 0px 0px !important;
}
.form-label label{
	font-weight: 200!important;
	font-size: smaller !important;
}

.title{
	width: 100px !important;
    margin-right: calc(100% - 100px);
}

.ul-declaration{
  text-align: left;
  padding-left: 20px;
}

/* label{
  text-align: left !important;
} */
.error{
  color: red;
  width: 100%;
  text-align: left;
  margin: 0px;
}
input[type=submit]{
  height: 40px !important;
  background: green;
}



